@charset "utf-8";
/* CSS Document */
.container-1170{
	width: 1170px;
	max-width: none!important;
	min-width: 950px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	
}
.Nav{
	padding: 0 40px 0 40px;
	height: 60px;
	border-bottom: 1px solid #E9494C; 
	background-color: aquamarine;
}
.Nav-inner{
	margin-right:auto;
	margin-left: auto;
	box-sizing: border-box;
	box-align:center;
	align-items: center;
	height:60px;
	background-color:antiquewhite;
}
.navbar-form{
	width:auto;
	border:0;
	box-shadow: none;
}
.navbar-left{
	float:left!important;
}
.flex-between-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.flex-between-center{
	display: flex;
	justify-content:space-between;
	align-items: center;
	
}
.logo{
	flex-basis: 20%;
	min-width: 140px;
	max-width: 260px;
	align-items: center;
	height: 60px;
	background-color:#D35557;
}
h3{
	text-align: center;
}
ul{
	list-style: none;
	display: block;
}
.NavBar{
	margin-right: 40px;
	box-sizing: border-box;
	background-color: aliceblue;
}
.dropdown-item1{
	text-align: center;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.dropdown-toggle:active{
	pointer-events: none;
}
.menu-bar{
	padding: 0 40px 0 40px;
	height: 60px;
	border-bottom: 1px solid #E9494C; 
	background-color: aquamarine;
	align-items: center;
}
.m1{
	box-sizing: border-box;
	display: flex;	
}
.mi1{
	padding: 20px 10px 10px 10px;
	background-color:darkgoldenrod;
}
.menu-item{
	font-size: 2rem;	
}
.header_inner{
	padding-bottom: 10px;
}